.navbar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 11px;
    background-color: #ffffff;
    border-bottom: solid 1px #f0f0f5;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-top: solid 1px #f0f0f5;
    bottom:0px;
    width: 100%;
    position: fixed;
}

.navbar-logo{
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-size: 24px ;
    font-stretch: expanded;
    font-weight: bolder;
    color: #FC5224;
}

.navbar-left {
    display: flex;
    align-items: center;
    height: 16px;
    padding-left: 13%;
    @media only screen and (min-width: 1620px) {
        padding-left: 26%;
    }
}
.nav-right{
    padding-right: 13.5%;
    @media only screen and (min-width: 1620px) {
        padding-right: 26.5%;
  }
}


.sign-up-button {
    text-align: center;
    font: bold 12px Arial;
    display:inline-block;
    text-decoration: none;
    background-color: #FFFFFF;
    color: white;
    background-color: #FC5224;
    padding: 6px 15px 7px 15px;
    border: 1px solid #FC5224;
    border-radius: 5px;
    transition: 0.1s;

    
}

.sign-up-button:hover {
    background-color: #ed2d2d;
    cursor: pointer;
}

.login-button {
    text-align: center;
    font: bold 12px Arial;
    display:inline-block;
    text-decoration: none;
    background-color: #FFFFFF;
    color: black;
    padding: 6px 12px 6px 12px;
    border: 1px solid #DFDFE8;
    border-radius: 5px;
    transition: 0.1s;
}

.login-button:hover {
    background-color: #f7f7f7;
}


// ---------- LOGGED IN NAV BAR ----------

.search{ 
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 14px;
}

.dashboard-hidden-trigger {
    box-sizing: content-box;
    display:flex;
    width: 100px;
    margin-left: 10px;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background-position: center;
    background-position-x: 88%;  
    background-repeat: no-repeat;
    // background-position-y: 28px;
    padding-right: 10px;
    padding-left: 14px;
    padding-bottom:20px;
    padding-top: 20px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    z-index: 6;
}

.dashboard-hidden-trigger:hover{
    cursor: default;
}

.dashboard-hidden-content {
    display:none;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    min-height: 40px;
    z-index: 1;

}

.dropdown {
    position: relative;
    display:block;
    height: 54px;
}

.dashboard-links {
    text-align: left;
    display:block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 14px;
    font-size: 14px;
    font-weight: normal;;
    color:black;
    text-decoration: none;
    height: 1em;
}
.dropdown:hover .dashboard-hidden-trigger {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid #ffffff;
    z-index: 3;
}

.dropdown:hover .dashboard-hidden-content {
    display:block;
    top: 54px;
    left: 10px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    z-index: 2;

}

.dashboard-links:hover{
    background-color: lightgray;
}

.footerLink{
    display:inline-block;
    width:32px;
    height:32px;
    margin:20px;
}
