
.main {
    display:flex;
    justify-content: center;
}

.splash-main {
    display:flex;
    justify-content: start;
    background-color:red;
    margin-top: 80px;
}

.splash-content {

    height:auto;
    width: 940px; 
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    background-color:grey;
}

.number1 {
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    text-align: center;
    font-size: 48px;
    margin-bottom: 74px;
}

.splash-content-col {
    display:flex;
    justify-content: space-between;
    height:490px;
    width: inherit;
}

.link-box {
    padding-left: 70px;
    padding-right: 70px;

}

.splash-link {
    font-style: inherit;
    text-decoration: none;
    color:black;
    display:block;
    padding: 16px 50px;
    margin-top: 16px;

}