.workout-form{
    display:flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    width: 475px;
    height: auto;
    background-color: #EEEEEE;
    margin-top: 18px;
    margin-left: 5%;
    border-radius: 3px;
    box-shadow: 10px 10px 10px  lightgrey;
}

.workout-input{
    padding-left: 2%;
    margin: 8px;
    height: 22px;
    border: 1px solid #666666;
    border-radius: 4px;
    width: 250px;
    
}

.workout-input:focus{
    
    border: 1px solid #666666;
    box-shadow: 0px 0px 3px #72B4E9;
    opacity: 1;
    outline: none;
    // border-radius: 8px;
}

.workoutDiv {
    display: flex;
    
    margin: 10px;
}